In [1]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.6.4
#!pip install plotly==5.3.1

/bin/bash: mamba: command not found
/bin/bash: mamba: command not found
Requirement already satisfied: lxml==4.6.4 in /opt/anaconda3/lib/python3.9/site-packages (4.6.4)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
amazon_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
amazon = requests.get(amazon_url).text

In [6]:
amazon_soup = BeautifulSoup(amazon, 'html5lib')

In [7]:
tag_object= amazon_soup.title
print("content of title attribute is:",tag_object)

content of title attribute is: <title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

In [9]:
amazon_data = pd.DataFrame(columns = ["Date","Open", "High", "Low", "Close","Volume"])
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in amazon_soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
# Finally we append the data of each row to the table
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high,"Low": low, "Close": close, "Adj_Close": adj_close, "Volume":volume}, ignore_index=True)

In [10]:
amazon_data.head()

           Date      Open      High       Low     Close       Volume Adj_Close
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900  3,206.20
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200  3,256.93
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500  3,168.04
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100  3,036.15
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300  3,148.73